@model CRM.Areas.Target.Models.GroupMasterModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-groupingBoder">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a class="collapsediv" data-toggle="collapse" href="#SearchDetails" style="color: white">
                                Group Master
                            </a>
                        </div>
                    </div>
                    <div id="SearchDetails" class="panel-collapse collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <div class="container fill">
                                <div id="Searchgrid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="panel-groupingBoder">
            <div class="panel-heading">
                <div class="panel-title">
                    Group Master Entry Form
                </div>
            </div>
            <div id="collapse2" class="panel-collapse collapse in" aria-expanded="true">
                <div class="panel-body">
                    <div class="container fill">
                        <fieldset>

                            <div>
                                <div class="row" style="margin-left: 5px; margin-top: 5px;">
                                    <div class="col-md-12">
                                        <button type="button" id="btnSave" class="btn btn-success" title="Click Here To Save">Save</button>
                                        <button type="button" id="btnReset" class="btn btn-warning" title="Click Here To Reset">Reset</button>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row" style="margin-left: 5px; margin-top: 5px;">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.Name, new { @class = "required" })
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                    @Html.HiddenFor(model => model.GroupId)
                                </div>
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.GroupSequence, new { @class = "required" })
                                    @Html.TextBoxFor(model => model.GroupSequence, new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">                                  
                                     @Html.Label("LinkWithNature", new { @class = "required" })
                                     @Html.DropDownList("ddlLinking", new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control" })
                                </div>

                            </div>


                            <div class="row" style="margin-left: 5px; margin-top: 5px;">

                                <div class="col-md-9">
                                    @Html.LabelFor(model => model.Description)
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "10" })
                                    @*@Html.ValidationMessageFor(model => model.Description)*@
                                </div>

                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>


    <script type="text/javascript" src="~/Scripts/Target/GroupMaster.js"></script>

}

